@use "src/styles";

.header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 2rem;
}

.nav {
    @include styles.white-text-green-bg();

    a {
        @include styles.white-link-gray-hover();
        font-size: 1.2rem;
    }

    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 8px;
    width: 50%;
    height: fit-content;
}

//!
// !