$maincolor: white;
$maincolorhover: lightgray;
$contrastcolor: rgb(50, 50, 50);
$contrastcolorhover: rgb(100, 100, 100);
$accentcolor: rgb(62, 116, 69);

* {
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
    scroll-behavior: smooth;
}

html {
    padding: 0;
}

.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.name-title {
    font-size: 4rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    margin-bottom: 0;
}

.job-title, .location-title {
    margin: 0.5rem 0;
}

.down-button, .up-button {
    color: black;
    font-size: 2rem;
    margin-top: 1rem;

    :hover {
        color: $contrastcolorhover;
        transition: 0.2s;
    }
}

.up-button {
    position: relative;
    left: 85vw;
}

.project-card {
    margin-top: 3rem;
    // border: 1px solid red;
    padding: 0 2rem;
    text-align: center;

    .text {
        // border: 1px solid red;
        width: 30%;
        min-width: 400px;
    }


    img {
        margin-bottom: 1rem;
        border: 1px solid black;
        border-radius: 10px;
        margin: 0 auto;
    }

    button {
        margin: 10px;
    }
}

.buttons-container {
    margin-bottom: 1rem;
}

@mixin black-text-white-bg {
    background-color: $maincolor;
    color: $contrastcolor;
}

@mixin white-text-green-bg {
    background-color: $accentcolor;
    color: $maincolor;
}

@mixin white-link-gray-hover {
    color: $maincolor;
    text-decoration: none;

    &:hover {
        color: $maincolorhover;
    }
}

body {
    @include black-text-white-bg();
    
    nav {
        @include white-text-green-bg();

        a {
            @include white-link-gray-hover();
            font-size: 1.2rem;
        }
    }

    main {
        padding: 10px;
        margin: 10px 0;
    }

    margin: 0px;
}

footer {
    @include white-text-green-bg();
    padding: 1px 20px;
    margin: 0px;
    display: flex;
    justify-content: space-between;

    .footer-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            color: $maincolor;
            @include white-link-gray-hover()
        }

    }
}